/* Estilos para el overlay de los breadcrumbs para mejorar legibilidad */
.breadcrumbs {
    position: relative; /* Es necesario para que el pseudo-elemento ::before se posicione correctamente */
}

.breadcrumbs::before {
    content: ""; /* Crea un pseudo-elemento vacío */
    position: absolute; /* Lo posiciona de manera absoluta dentro del contenedor .breadcrumbs */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Un color negro con un 60% de opacidad */
    z-index: 1; /* Coloca el overlay encima de la imagen de fondo */
}

/* Asegura que el contenido (título y migas de pan) esté por encima del overlay */
.breadcrumbs .container {
    position: relative;
    z-index: 2; /* Coloca el contenido por encima del overlay */
}
